@import '../../assets/variables.scss';

.content {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  height: calc(100vh - 90px);
  padding: 15px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  .card {
    border: 1px solid $background;
    background-color: $background;
    min-height: 350px;
  }
}
