$font-stack:'Poppins', sans-serif;

// Colors
$yellow: #f6d854;
$green: #78c02a;
$blue: #5395fe;
$red:#f05133;

$default: #f2f2f3;
$sub-text: #ffffffc7;


// background color

$background :  #161627;
